root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space

[{*.cjs,*.js}]
ij_javascript_align_imports = true
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_use_semicolon_after_statement = true
